
@{
    ViewBag.Title = "Index";
}

<h2>Welcome Home Page</h2>


@section book{
    <div class="col-sm-2 sidenav">
        <p><a href="#">Old Book</a></p>
        <p><a href="#">New Book</a></p>
    </div>

}